.footer {
  background: #000;
  padding: 30px 15px;
  color:  #ffffff;
  font-size: 16px;
  text-align: center;

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

  @media all and (max-width: 767px) and (min-width: 480px) {
    .copyright {
      float: left;
      position: relative;
      top: 5px;
    }

    .download {
      float: right;
    }

    .download__item  {
      margin: 0 5px;
      width: auto;
    }
  }

  @media all and (max-width: 480px) {
    .download__item {
      margin: 0 5px;
      width: auto;
    }
  }

  @media all and (min-width: 767px) {
    padding-left: 261px;
    position: relative;

    &:before {
      content: '';
      width: 62px;
      height: 67px;
      background: url('../img/logo-white.png') no-repeat 0 0;
      float: left;
      position: absolute;
      left: 86px;
    }

    .download {
      float: right;
    }

    .download__item {
      width: auto;
      margin: 0 5px;
    }

    .footer__nav {
      margin-bottom: 32px;

      a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}

.download {
  margin-bottom: 15px;
  &__item {
    text-decoration: none;
  }
}