.footer {
  background: #000;
  padding: 30px 15px;
  color:  #ffffff;
  font-size: 16px;
  text-align: center;

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.download {
  margin-bottom: 15px;
  &__item {
    text-decoration: none;
  }
}