@import "variables";

$header-padding-top: 8.335%;

.header {
  @media all and (max-width: 767px) {
    background: $red-primary;
    max-height: 70px;
    padding: 23px 15px;
    position: relative;
  }

  &__location {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;

    @media all and (max-width: 420px) {
      font-size: 20px;
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media all and (max-width: 360px) {
      max-width: 116px;
    }
  }

  &__tools {
    float: right;
    position: relative;
    top: -6px;

    li {
      display: inline;
    }

    &__btn {
      display: inline-block;
      cursor: pointer;
      border: none;

      &--map {
        background: url($static-url + 'img/icon-marker.png') no-repeat 0 0;
        width: 20px;
        height: 26px;
        background-size: auto 100%;
        margin-right: 15px;
      }

      &--view {
        width: 34px;
        height: 28px;
        position: relative;
        top: 0px;
        &--big {
          background: url('../img/ic_view_list_white_24px.svg') no-repeat 0 0;
          background-size: 100%;
        }

        &--small {
          background: url('../img/ic_view_agenda_white_24px.svg') no-repeat 0 0;
          background-size: 100%;
        }
      }

      &--sort {
        width: 32px;
        height: 26px;
        background: url('../img/ic_sort_white_24px.svg') no-repeat 0 0;
        background-size: 100%;
        margin-right: 15px;
        position: relative;
        top: -3px;
      }

      &--edit {
        width: 32px;
        height: 26px;
        background: url('../img/ic_mode_edit_white_24px.svg') no-repeat 0 0;
        background-size: 100%;
        margin-right: 20px;
        position: relative;
        top: -3px;
      }

      &--bookmark {
        border: none;
        cursor: pointer;
        width: 32px;
        height: 28px;
        background: url('../img/ic_bookmark_border_white_24px.svg') no-repeat 0 0;
        background-size: 100%;

        &:focus {
          outline: none;
        }
      }

      &--bookmarked {
        border: none;
        cursor: pointer;
        width: 32px;
        height: 26px;
        background: url('../img/ic_bookmark_white_24px.svg') no-repeat 0 0;
        background-size: 100%;

        &:focus {
          outline: none;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.sandwich {
  &__toggle {
    border: none;
    display: inline-block;
    cursor: pointer;
    background: url('../img/icon-sandwich.svg') no-repeat 0 0;
    width: 24px;
    height: 17px;
    background-size: 100%;
    margin-right: 15px;
  }
}

@media all and (max-width: 767px) {
  .sidebar {
    z-index: 1050;
    position: fixed;
    height: 100vh;
    top: 0;
    background: #fff;
    max-width: 335px;
    width: 81%;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;

    &__profile {
      background-color: #d32323;
      padding: 22px 15px 14px;
      color:  #fff;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 18px;

      &__media {
        margin-bottom: 15px;
        width: 112px;
        height: 112px;
        border-radius: 50%;
        overflow: hidden;
      }

      &__title {
        margin-bottom: 18px;
      }
    }

    &__navigation {
      padding: 20px 10px;

      &__item {
        list-style: none;
        margin-bottom: 25px;
        line-height: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          position: relative;
          top: 5px;
        }

        &--my {
          &:before {
            background: url('../img/ic_folder_black_24px.svg') no-repeat 0 0;
          }
        }

        &--messages {
          &:before {
            background-position: 0 -128px;
          }
        }

        &--saved {
          &:before {
            background: url('../img/ic_bookmark_gray_24px.svg') no-repeat 0 0;
          }
        }

        &--viewed {
          &:before {
            background: url('../img/ic_remove_red_eye_black_24px.svg') no-repeat 0 0;
          }
        }

        &--settings {
          &:before {
            background-position: 0 -319px;
          }
        }

        &--recommend {
          &:before {
            background-position: 0 -385px;
          }
        }

        &--signout {
          &:before {
            background: url('../img/ic_exit_to_app_black_24px.svg') no-repeat 0 0;
          }
        }

      }

      &__link {
        vertical-align: top;
        position: relative;
        top: 7px;
        color: #646464;
        text-decoration: none;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
      }
    }
  }
}

@media all and (min-width: 767px) {
  .sidebar {
    width: 261px;
    float: left;
    border-right: 3px solid rgba(#000, 0.2);
    padding: 0 0 40px;
    position: fixed;
    left: 0;
    height: 100%;
    background: #fff;
    top: 58px;
    z-index: 1;
    box-shadow: 6px -4px 5px -6px rgba(0,0,0,0.56);
    /*transition: transform 0.3s ease-in-out;
    transform: scale(0);
    transform-origin: top left;*/

    &.shown {
      transform: scale(1);
    }

    &__profile {
      border-bottom: 1px solid #dcdcdc;
      padding: 0 20px 50px;
      font-weight: 500;

      &__media {
        text-align: center;
        margin-bottom: 25px;
        padding: 0 20px;

        &__img {
          width: 112px;
          height: 112px;
          border-radius: 50%;
        }
      }
    }

    &__navigation {
      padding: 0 15px 0 40px;
      /*&__item {
        &--main {
          .sidebar__navigation__link {
            color: #000;
            font-weight: 500;
          }
        }
      }*/

      &__link {
        display: block;
        margin: 50px 0;
        text-decoration: none;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        transition: color 0.2s ease-in-out;

        &--active {
          color: #000;
          font-weight: 500;
        }

        &:hover {
          color: #000;
        }
      }
    }
  }
}

.bottom-banner,
.main-banner {
  .download {
    margin: 35px 0 0;
  }

  @media all and (min-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;

    &--main {
      font-size: 48px;
      font-weight: 100;
      line-height: 49px;
    }

    &--secondary {
      font-size: 30px;
      font-weight: 400;
      line-height: 49px;
    }
  }
}

.main-banner {
  background: url($static-url + 'img/header.jpg') no-repeat 0 0;
  background-size: cover;
  height: calc(100vh - 57px);
}

.bottom-banner {
  background: url($static-url + 'img/banner-bottom.jpg') no-repeat 0 0;
  background-size: cover;
  height: 307px;

  &--main {
    font-size: 31px;
  }

  &--secondary {
    font-size: 21px;
  }
}

.download {
  text-align: center;
  &__item {
    width: 156px;
    height: 48px;
    margin: 0 25px;
    display: inline-block;

    &--appstore {
      background: url('../img/app_store.svg') no-repeat 0 0;
    }

    &--playmarket {
      background: url('../img/play_market.svg') no-repeat 0 0;
    }
  }
}