@import "variables";

html, body {
  line-height: 1;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $body-bg;
  line-height: 1;
  //display: table;
  width: 100%;
  min-width: 300px;
  height: 100%;
  overflow-x: hidden;
}


.body {
  padding: 12px 15px 0;
  position: relative;

  @media all and (min-width: 767px) {
    padding: 0;
  }
/*
  .body-bottom {
    margin-bottom: 35px;
  }*/

  &.cars,
  &.companies {
    padding-bottom: 85px;

    .body-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &.cars {
    .frontpage__block__head {
      margin-bottom: 25px;
    }
  }
}

.cf {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.tab-wrapper {
  @media all and (min-width: 767px) {
    margin-top: 57px;
  }

  @media all and (max-width: 767px) {
    .sidebar {
      display: none;
    }

    &.hidden {
      display: none;
    }
  }
}

.main {
  @media all and (max-width: 767px) {
    min-height: calc(100vh - 209px);
  }
  @media all and (min-width: 767px) {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 181px);
  }

  > div {
    width: 100%;
  }

  .sidebar {
    @media all and (max-width: 767px) {
      display: none;
    }
  }
}

.body-top,
.body-bottom {
  text-align: right;
  right: 15px;

  .total-item-num {
    color: #323232;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    margin-right: 32px;
    //font-variant: small-caps;
  }

  .total-item-num,
  .pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .total-item-num {
    margin-right: 15px;
  }

  .pagination {
    margin-bottom: 30px;
  }
}

.body-top {
  margin-bottom: 0;
  margin-top: 35px;

  .pagination {
    margin-bottom: 0
  }
}

.pagination {
  text-align: right;
  margin-top: 40px;
  margin-right: 30px;
  position: relative;
  z-index: 99;
  margin-bottom: 15px;

  &__item {
    display: inline-block;
    margin-right: 5px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &--prev {

    }
  }

  &__link {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: #fff;
    line-height: 25px;
    display: block;
    padding: 0 5px;
    color:  #4e4e4e;
    font-size: 20px;
    cursor: pointer;

    .fa {
      position: relative;
      top: 1px;
    }

    &--active {
      background: #bababa;
      color: #fff;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.body-fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;

  &.fade {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;

    &.in {
      filter: alpha(opacity=50);
      opacity: .5;
      z-index: 1040;
    }
  }
}

.search-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 78px;
  height: 78px;
  background: url($static-url + '/img/search-icon.png');
}

.modal-filter {
  .modal-content {
    padding: 30px;
  }

  &__title {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__item {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__radio {
    display: none;

    &:checked {
      + .modal-filter__label {
        &:after {
          content: '';
          position: absolute;
          left: 2px;
          top: 4px;
          background: $red-primary;
          border-radius: 50%;
          width: 11px;
          height: 11px;
        }
      }
    }
  }

  &__label {
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      border: 1px solid #6f6f6f;
      border-radius: 50%;
      position: relative;
      top: 1px;
      margin-right: 10px;
    }
  }


  &__submit {
    text-align: right;
    font-weight: bold;
    color: #e72421;
    text-transform: uppercase;
    font-size: 18px;
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.btn {
  padding: 12px 22px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;

  &--primary {
    color: #fff;
    border: 1px solid #f61e1e;
    background-color: #f61e1e;
  }

  &--cancel {
    border: 1px solid #ccc;
    background: #fff;
  }
}

.prompt {
  &__title {
    font-size: 22px;
  }
  &__controls {
    .btn {
      margin: 0 10px;
    }
  }
}

.no-posts {
  margin-top: 150px;
  text-transform: uppercase;
  text-align: center;

  &__title {
    font-size: 45px;
    color: #ccc;
    font-weight: 500;
  }

  &__body {
    color: #000;
    margin: 25px 0;
    font-weight: 500;
    text-transform: none;
    font-size: 25px;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
  }
}
