.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;

  &.in {
    opacity: 1;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;

  &.fade {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  &.in {
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 1040;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.fade {
    .modal-dialog {
      webkit-transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
      -webkit-transform: translate(0,-25%);
      -ms-transform: translate(0,-25%);
      -o-transform: translate(0,-25%);
      transform: translate(0,-25%);
    }
  }

  &.in {
    display: block;
    .modal-dialog {
      -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
    }
  }
}

.modal-dialog {
  position: relative;
  margin: 30px auto;

  &--comment {
    max-width: 520px;

    .modal-body {
      margin-top: 15px;
    }
  }

  &--image {
    width: 80%;

    .modal-body {
      max-height: calc(100vh - 140px);
      margin-top: 25px;
      overflow: hidden;
    }

    img {
      max-width: 100%;
    }
  }

  &--prompt {
    max-width: 500px;
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  padding: 25px;
}

.modal-header {
  position: relative;

  .modal-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
  }

  .modal-close {
    position: absolute;
    right: -10px;
    top: -10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.modal-body {
  margin-top: 50px;
}

