@import "mixins";

.car-profile {
  @media all and (max-width: 767px) {
    padding: 10px 20px 20px;
  }

  @media all and (max-width: 360px) {
    padding: 10px 0 20px;
  }

  &__wrapper {
    padding: 0 15px;
    background: #fafafa;
  }

  &__media {
    text-align: center;
    background: #fdfdfd;
    margin: 20px 0 0;
    height: 250px;
    overflow: hidden;
    object-fit: contain;
    position: relative;

    button {
      height: 250px;
      display: block;
      width: 100%;
    }

    &__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__price {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background: rgba(#ccc, 0.5);
  }

  &__name {
    color:  #000000;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
  }

  &__row {
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
  }

  &__head {
    border-bottom: 1px solid #ebebeb;
    .car-profile__row {
      &:first-of-type {
        border-bottom: none;
      }
    }
  }

  &__main {
    &__title {
      color: #666;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    &__description {
      color: #8b8b8b;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      padding-left: 15px;
    }
  }

  &__profile {
    &__row {
      @include clearfix;
      margin-bottom: 15px;
    }

    &__label,
    &__value {
      float: left;
      width: 50%;
      font-size: 18px;
      line-height: 18px;
    }

    &__label {
      color: #8b8b8b;
      font-weight: 500;
    }

    &__value {
      font-weight: 700;
      color: #525252;
    }
  }

  &__box {
    margin-top: 25px;
    border-radius: 6px;
    border: 2px solid #e2e2e2;
    background-color: #fff;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  &__views {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #606060;
    margin-bottom: 35px;

    &__num {
      color: #d72b01;
      margin-top: 10px;
    }
  }

  &__up {
    &__description {
      font-weight: 400;
      line-height: 18px;
      margin: 10px 0 20px;
    }

    .btn--vip {
      font-size: 18px;
      padding: 10px;
    }
  }

  &__gallery {
    width: 50%;
    float: left;

    &__main {
      overflow: hidden;
      height: 400px;
      img {
        height: 100%;
      }
    }

    &__thumbs {
      @include clearfix;
    }

    &__thumb {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      outline: none;
      background: none;
      padding: 3px;
      width: 20%;
      float: left;
      height: 83px;
      overflow: hidden;
      border: none;
      cursor: pointer;

      @media all and (max-width: 992px) {
        width: 33.333%;
        height: 63px;
      }

      img {
        /*width: 100%;
        flex-shrink: 0;
        min-width: 100%;*/
        height: 100%;
        //max-width: initial;
      }
    }
  }
}