.sort-form {
  ul {
    margin-top: 35px;
  }

  li {
    margin-bottom: 10px;
  }
}

.modal--sort {
  .modal-dialog {
    max-width: 300px;
  }

  .btn {
    padding: 6px 16px;
    width: 100%;
    margin-top: 25px;
  }
}