@import "reset";
@import "variables";

@import "layout";
@import "tabber";
@import "companies";
@import "list";
@import "parts";
@import "footer";

.button__transparent {
  border: none;
  background: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

.button__noaction {
  &:focus,
  &:active {
    outline: none;
  }
}