@import "reset";
@import "variables";
@import "mixins";

@import "layout";
@import "tabber";
@import "companies";
@import "list";
@import "parts";
@import "footer";
@import "modal";
@import "auth";
@import "profile.shared";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button__transparent {
  border: none;
  background: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

.button__noaction {
  &:focus,
  &:active {
    outline: none;
  }
}

//FIXME

.spare-part__media {
  display: none;
}